@font-face {
    font-display: swap;
    font-family: 'PFDinDisplayPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('PFDinDisplayPro-Regular'), url('PFDinDisplayPro-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'PFDinDisplayPro-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('PFDinDisplayPro-Bold'), url('PFDinDisplayPro-Bold.woff') format('woff');
}