@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Be Vietnam Regular'), url('BeVietnam-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Be Vietnam Italic'), url('BeVietnam-Italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Be Vietnam Thin'), url('BeVietnam-Thin.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Thin Italic';
    font-style: italic;
    font-weight: 100;
    src: local('Be Vietnam Thin Italic'), url('BeVietnam-ThinItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Light';
    font-style: normal;
    font-weight: 300;
    src: local('Be Vietnam Light'), url('BeVietnam-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Light Italic';
    font-style: italic;
    font-weight: 300;
    src: local('Be Vietnam Light Italic'), url('BeVietnam-LightItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Be Vietnam Medium'), url('BeVietnam-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Medium Italic';
    font-style: italic;
    font-weight: 500;
    src: local('Be Vietnam Medium Italic'), url('BeVietnam-MediumItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Be Vietnam SemiBold'), url('BeVietnam-SemiBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam SemiBold Italic';
    font-style: italic;
    font-weight: 600;
    src: local('Be Vietnam SemiBold Italic'), url('BeVietnam-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Be Vietnam Bold'), url('BeVietnam-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local('Be Vietnam Bold Italic'), url('BeVietnam-BoldItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: local('Be Vietnam ExtraBold'), url('BeVietnam-ExtraBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Be Vietnam ExtraBold Italic';
    font-style: italic;
    font-weight: 800;
    src: local('Be Vietnam ExtraBold Italic'), url('BeVietnam-ExtraBoldItalic.woff') format('woff');
}