@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 100;
    src: url('Peyda-Thin.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 200;
    src: url('Peyda-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 300;
    src: url('Peyda-Light.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 400;
    src: url('Peyda-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 500;
    src: url('Peyda-Medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 600;
    src: url('Peyda-SemiBold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    src: url('Peyda-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 800;
    src: url('Peyda-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 900;
    src: url('Peyda-Black.ttf') format('truetype');
}
