* {
    transition: all ease 0.2s;
}

body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
}

.notailwind,
.notailwind * {
    all: unset;
}

.app-server-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    transition: top 0.0s ease-in-out, left 0.0s ease-in-out, transform 0.0s ease-in-out, filter 0.3s ease-in-out;
}

.app-server-list::-webkit-scrollbar {
    width: 0;
}

.app-server-list-main {
    border-bottom: 1px solid #3A3C43;
    box-sizing: border-box;
    background: #232630;
    width: -webkit-fill-available;
    height: 40px;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: end;
    transition: background ease 0s;
    cursor: pointer;
    gap: 6px;
}

.app-server-list:not(:has(.disable-server))>div:hover {
    background: #33353e;
}

.app-server-list:not(:has(.disable-server))>div:hover .app-server-list-server-tags {
    display: none;
}

.app-server-list-main div:last-child {
    direction: rtl;
}

.app-server-list-main div:first-child {
    width: -webkit-fill-available;
    justify-content: left;
    -webkit-mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
    mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
    height: 40px;
}

.app-server-license-effect {
    background: linear-gradient(68deg, rgba(0, 0, 0, 0.00) 0%, rgba(195, 4, 64, 0.10) 100%), rgba(22, 25, 35, 0.50);
}

.app-server-license-effect:after {
    position: absolute;
    width: 100%;
    height: 100%;;
    content: "";
    background-image: url("../../img/license-effect.png");
    background-size: auto;
}

.app-server-list-main div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.app-server-list-server-logo {
    width: 28px;
    all: revert;
    height: 28px;
    border-radius: 4px;
    margin-left: 8px;
}

.app-server-list-server-name {
    height: 22px;
    color: rgb(255, 255, 240);
    font-family: 'Rajdhani SemiBold', Peyda;
    font-size: 16px;
    margin-left: 8px;
    clip-path: content-box;
    min-width: fit-content;
    margin-right: 6.72px;
}

.app-server-list-server-text {
    color: rgba(255, 255, 240, 0.50);
    font-family: 'Ubuntu Light', Peyda;
    font-size: 12.998px;
    font-style: normal;
    font-weight: 300;
    overflow: hidden;
    height: 15.36px;
    min-inline-size: fit-content;
}

.app-server-list-server-player-count {
    color: rgba(255, 255, 240, 0.50);
    text-align: right;
    font-family: 'Rajdhani Medium';
    font-size: 15.898px;
    min-width: 79.872px;
    margin-left: 10.003px;
    margin-right: 12px;
}

.app-server-list-server-flag {
    width: 22.003px;
    height: 15.994px;
    border-radius: 1.997px;
    margin-left: 10.003px;
}

.app-server-list-server-license-type {
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.app-server-list-server-tags {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.app-server-list-server-tags box {
    display: flex;
    padding-inline: 5px;
    width: max-content;
    height: 22px;
    border-radius: 4px;
    background: rgba(255, 255, 240, 0.05);
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.app-server-list-server-tags span {
    color: rgba(255, 255, 240, 0.50);
    text-align: center;
    font-family: "PFDinDisplayPro-Regular", Peyda;
    font-size: 10.3px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    min-inline-size: max-content;
}

.app-servers-filter {
    position: absolute;
    width: 319px;
    height: 768px;
    border-radius: 6.01px;
    background: radial-gradient(37.21% 37.21% at 50% 62.79%, #31333ca0 0%, #31333ca0 100%);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(50px);
    align-items: center;
    flex-direction: column;
    display: none;
    left: 0;
    top: 0;
}

.app-servers-filter-title {
    color: #939593;
    text-align: right;
    font-family: Peyda, 'Rajdhani bold';
    font-size: 19.2px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20.16px;
}

.app-servers-filter-box {
    width: 294px;
    height: 41px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.app-servers-filter-box box {
    width: 141px;
    height: 41px;
    border-radius: 4px;
    border: 2.093px solid #757776;
    background: #47494E;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.app-servers-filter-box box:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.app-servers-filter-box span {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Rajdhani Medium', Peyda;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 11.904px;
    letter-spacing: 0.326px;
    line-height: 15.36px;
}

.app-servers-filter-line {
    width: 319px;
    height: 2px;
    background: rgba(217, 217, 217, 0.15);
    margin-top: 14px;
}

.app-servers-filter-title-line {
    width: 293px;
    height: 22px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.app-servers-filter-title-line img {
    width: 12px;
    height: 12px;
}

.app-setting-image-trash,
.app-servers-filter-title-line div:last-child {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;
}

.app-servers-filter-title-line div:last-child:hover {
    background: #47494E;
}

.app-setting-image-trash:hover {
    border: 3px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(93, 93, 93, 0.50);
}

.app-setting-image-trash:active {
    background: none;
}

.app-servers-filter-title-line div:last-child:active {
    border: 2.093px solid rgba(255, 255, 255, 0.15);
}

.app-servers-filter-title-line span {
    color: #7A7D7D;
    font-family: 'Rajdhani SemiBold', Peyda;
    font-size: 16px;
    font-weight: 400;
}

.checkbox-wrapper-30 .checkbox {
    display: flex;
    position: relative;
    width: 22.003px;
}

.checkbox-wrapper-30 .checkbox::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.checkbox-wrapper-30 .checkbox>*,
.checkbox-wrapper-30 .checkbox input,
.checkbox-wrapper-30 .checkbox svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.checkbox-wrapper-30 .checkbox input {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
    color: #d1d6ee;
    cursor: pointer;
}

.checkbox-wrapper-30 .checkbox input:checked {
    border-color: rgba(255, 255, 255, 0.75);
    transition-delay: 0.15s;
}

.checkbox-wrapper-30 .checkbox input:checked+svg {
    stroke-dasharray: 16px 93px;
    stroke-dashoffset: 109px;
}

.checkbox-wrapper-30 .checkbox svg {
    fill: none;
    pointer-events: none;
    stroke: #1e2235;
    stroke-dasharray: 124.992px;
    stroke-dashoffset: 126.336px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.997px;
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}

.app-servers-filter-country-box,
.app-servers-filter-tags-box {
    width: 100%;
    height: -webkit-fill-available;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

.app-servers-filter-country-box:hover,
.app-servers-filter-tags-box:hover {
    overflow-y: scroll;
    opacity: 1;
}

.app-servers-filter-country-box:hover::-webkit-scrollbar,
.app-servers-filter-tags-box::-webkit-scrollbar {
    width: 0px;
}

.app-servers-filter-country-box div,
.app-servers-filter-tags-box div {
    width: 319px;
    height: 30px;
    color: rgba(246, 246, 233, 0.80);
    font-family: 'Rajdhani SemiBold', Peyda;
    font-size: 9px;
    line-height: 20.7px;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: end;
}

.app-servers-filter-country-box div:hover,
.app-servers-filter-tags-box div:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.app-servers-filter-country-box h1,
.app-servers-filter-tags-box span {
    margin-left: 12px;
    font-family: 'Rajdhani SemiBold';
    font-size: 15px;
    display: flex;
    gap: 8px;
}

.app-servers-filter-country-box h2,
.app-servers-filter-tags-box h2 {
    color: rgba(172, 172, 172, 0.75);
    text-align: right;
    margin-right: 12px;
}

.app-servers-sort {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 183px;
    height: 137px;
    border-radius: 6px;
    background: radial-gradient(37.21% 37.21% at 50% 62.79%, #31333ca0 0%, #31333ca0 100%);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(50px);
    flex-direction: column;
    justify-content: center;
    display: none;
}

.app-servers-sort div.selected {
    background: #242730;
}

.app-servers-sort div {
    width: 183px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-servers-sort div:hover {
    background-color: #161923;
}

.app-servers-sort .app-servers-sort-frist-img {
    width: 16px;
    height: 10px;
}

.app-servers-sort img {
    width: 20px;
    height: 20px;
    margin-left: 11.5px;
}

.app-servers-sort span {
    color: rgba(255, 255, 255, 0.80);
    text-align: right;
    font-family: Peyda;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 11.5px;
}

.filter-tag span, h1 {
    letter-spacing: 1px;
    font-size: 2em;
    letter-spacing: 0.048vw;
}

.filter-tag h2, .filter-country h2 {
    font-size: 1.5em;
    margin-block: 0.83em;
    font-weight: bold;
    letter-spacing: 0.048vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: revert;
}

.app-servers-loading {
    position: absolute;
    display: flex;
    place-self: anchor-center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.loading-main {
    position: absolute;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 0.8rem;
    height: 0.8rem;
    overflow: hidden;
    border-radius: 2px;
    transform: scale(2.5);
}

.loading-main div {
    flex-basis: calc(50% - 0.052vw);
    flex-grow: 1;
    flex-shrink: 1;
    animation: indicatorAnimation 1s ease infinite;
}

@keyframes indicatorAnimation {

    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(216, 13, 13, 1);
    }
}

.fade-in-row {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
    transition: all 0.4s ease;
}

.fade-in-row.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.downloadButton.disabled {
    opacity: 0.4;
    cursor: no-drop;
}

.downloadButton.disabled:first-child:hover,
.downloadButton.disabled:first-child:focus {
    background-color: #ffffff05 !important;
    color: inherit !important;
}

.downloadButton.disabled:last-child:hover,
.downloadButton.disabled:last-child:focus {
    background-color: #C30440 !important;
    color: rgb(255 255 255 / 0.8) !important;
    transform: none;
}

.download-page {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.download-page.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.download-page .flex {
  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.3s ease-out 0.2s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.app-server-list-main offline {
    padding-inline: 6px;
    width: max-content;
    height: 23.002px;
    border-radius: 4px;
    background: rgba(255, 38, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8.5px;
}

.app-server-list-main offline span {
    color: rgba(238, 38, 0, 1);
    text-align: right;
    text-shadow: 0 0 4px rgba(209, 35, 8, 0.35);
    font-family: Peyda;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.app-servers-filter-country-box .filter-country span {
    border-radius: 5.76px;
}