body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #0b0b0b;
    scrollbar-gutter: stable;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

img {
    image-rendering: -webkit-optimize-contrast;
    pointer-events: none;
}

:root {
    color-scheme: dark
}

::-moz-selection {
    background-color: #C30440;
    color: #050505
}

::selection {
    background-color: #C30440;
    color: #050505;
}

:root {
    --header-height: 56px
}

@media (min-width: 768px) {
    :root {
        --header-height: 72px
    }
}

.intro-overlay {
    background-image: linear-gradient(180deg, #14141480, #0b0b0b), url("../img/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center, center -145px;
}


.intro-background {
    background-image: linear-gradient(180deg, #0b0b0b99, #0b0b0b00, #0b0b0b), linear-gradient(90deg, #0b0b0b, #0b0b0b00, #0b0b0b), url("../img/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom
}

@media (min-width: 1024px) {
    .intro-background {
        background-image: linear-gradient(180deg, #0b0b0b99, #0b0b0b00, #0b0b0b), linear-gradient(90deg, #0b0b0b, #0b0b0b00, #0b0b0b), url("../img/bg.webp");
        background-size: 134vw;
        background-position-y: top;
    }

    .intro-overlay {
        background-image: linear-gradient(180deg, #14141480, #0b0b0b), url("../img/bg.webp");
        background-size: 134vw;
    }

    .snail {
        display: block !important;
    }
}

@media (min-width: 1280px) {
    .intro-background {
        background-size: 100%;
        background-position-y: top;
    }

    .intro-overlay {
        background-size: 100vw;
    }

    .snail {
        display: block !important;
    }
}

@media (min-width: 2000px) {
    .intro-overlay, .intro-background {
        background-size: 2000px
    }
}

.feature-bg-gradient {
    position: relative;
    overflow: hidden;
    background-color: #171a2442;
    background-size: 300% 300%;
    transition: background-position 0.5s ease, transform 0.3s ease;
}

.feature-bg-gradient:hover {
    background-position: 100% 100%;
    transform: scale(1.02);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #C30440;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #171A24;
}

.partnership {
    background: url("../img/pattern.webp"), #161923;
    background-size: 18.229vw, 18.229vw;
    animation: moveBackground 1000s linear infinite, opacity-open 0.3s forwards;
    background-blend-mode: soft-light;
}

@keyframes moveBackground {
    0% {
        background-position: 0vw 0vw;
    }
    100% {
        background-position: 800vw -800vw;
    }
}


#carouselModal[data-state="open"] {
    display: flex;
    opacity: 1;
    animation: fadeIn 300ms ease-in forwards;
}

#carouselModal[data-state="closed"] {
    opacity: 0;
    animation: fadeOut 300ms ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.conuts {
    transition: all 0.2s ease-out;
}

.conuts.animate {
    transform: scale(1.15) translateY(-5px);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.notification {
    z-index: 22;
    backdrop-filter: blur(12px);
    background: #00000052;
    border-radius: 12px;
    position: fixed;
    border-color: rgb(255 255 255 / 10%);
    top: 2.1vh;
    direction: rtl;
    font-family: 'Peyda', 'Rajdhani Medium';
    justify-self: anchor-center;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(-100%);
}

.downloadButton.disabled {
    opacity: 0.4;
    cursor: no-drop;
}

.downloadButton.disabled:first-child:hover,
.downloadButton.disabled:first-child:focus {
    background-color: #ffffff05 !important; 
    color: inherit !important; 
}

.downloadButton.disabled:last-child:hover,
.downloadButton.disabled:last-child:focus {
    background-color: #C30440 !important; 
    color: rgb(255 255 255 / 0.8) !important; 
    transform: none;
}

.mobile-header:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(89%) saturate(3784%) hue-rotate(330deg) brightness(93%) contrast(108%);
}